.form-group {
    margin-left: 10%;
}

.submit-btn {
    margin-top: 15px;
}
input{
    margin-top: 3px;
    margin-bottom: 10px;
    width: 250px;
}

form {
    margin-left: 550px;
}
button{
    margin-top: 10px;
}